{% extends "base.html" %}

{% block title %}User Dashboard{% endblock %}

{% block content %}
<div class="dashboard-container"> 
    <h2>Welcome to your Dashboard, {{ user_name }}!</h2>

    <h2>Your Moodboards</h2>

    {% if moodboards %}
    <ul>
      {% for moodboard in moodboards %}
      <li>
        <h3><a href="{{ url_for('view_moodboard_with_images', moodboard_id=moodboard.id) }}">{{ moodboard.title }}</a></h3>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>You haven't created any moodboards yet.</p>
    {% endif %}
    
    <a href="{{ url_for('create_moodboard') }}">Create a new Moodboard</a>

</div> 
{% endblock %}